.parent{
    height: 100vh;
    width: 80vw;
    background-color: aquamarine;
    /* display: flex; */
    align-items: center;
    
}

.child{
    height: 50%;
    width: 60%;
    background-color: white;
    display: flex;
   /* justify-content: center; */
}

