<!-- <div class="parent">
    
    <div class="child1">
    <div class="child1-1">
        <h3>Flipkart</h3>

        <input type="text" placeholder="search"> <button>Only free delivery</button> <br>
        <br>
        <button class="range"> Price Low to High</button>
        <button class="range">Price High to Low</button>
        <button class="range">Rating Low to high</button>
        <button class="range">Rating Hight to Low</button> <br> <br>

        <button class="discount"> Apply 50% Discount</button>
        <button class="discount"> Price with Delivery Charge</button> <br> <br>

        <button class="Total">Total Price</button>
        <button class="Total">Total Cart item</button>
    </div>
    <div class="child1-2"> 
        


    </div>
</div>
<div class="child2">


    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Product Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let products of product">
                <td> {{products.name}}</td>
                <td>{{products.price}}</td>
                <td>{{}}</td>
            </tr>
        </tbody>
    </table>
</div>

</div> -->
