<div class="parent">
    <div class="left">
      <div class="left1"> <h2>My website</h2></div>
      <div class="left2">
        <h2 routerLink="login">Login</h2>
  
        <h2 routerLink="/mywebsite/home">Home</h2>
        <h2 routerLink="/mywebsite/Welcome">Welcome</h2>
        <h2 routerLink="/mywebsite/Data Binding">Data Binding</h2>
        <h2 routerLink="/mywebsite/Calculator">Calculator</h2>
        <h2 routerLink="/mywebsite/Rectangle">Rectangle</h2>
        <h2 routerLink="/mywebsite/Circle">Circle</h2>
        <h2 routerLink="/mywebsite/BMI">BMI</h2>
        <h2 routerLink="/mywebsite/directive/">Directive</h2>
        <h2 routerLink="/mywebsite/employee/">employee</h2>
        <h2 routerLink="/mywebsite/flipkart"> flipkart</h2>
        <h2 routerLink="vechicle">vechicle</h2>
        <h2 routerLink="create-vechicle">create-vechicle</h2>
        <h2 routerLink="/mywebsite/communication">Communication</h2>
        <h2 routerLink="studentID"> Student ID</h2>
        <h2 routerLink="createUser"> Create-User</h2>
        <h2 routerLink="johnUser">User-Task</h2>
        <h2 routerLink="child">Child</h2>
        <h2 routerLink="sibling1">Sibling1</h2>
        <h2 routerLink="sibling2">Sibling2</h2>
        <h2 routerLink="rating-parent">Rating-parent</h2>
        <h2 routerLink="rating-child">Rating-child</h2>

        
        <button (click)="logout()">Logout</button>
        
  
      </div>
    </div>
    <div class="right">
        <router-outlet></router-outlet>


      
    </div>
  </div>
