<div class="parent">
    <div class="left">
      <div class="left1"> <h2>My website</h2></div>
      <div class="left2">
  
        <h2 routerLink="/mywebsite/home">Home</h2>
        <h2 routerLink="/mywebsite/Welcome">Welcome</h2>
        <h2 routerLink="/mywebsite/Data Binding">Data Binding</h2>
        <h2 routerLink="/mywebsite/Calculator">Calculator</h2>
        <h2 routerLink="/mywebsite/Rectangle">Rectangle</h2>
        <h2 routerLink="/mywebsite/Circle">Circle</h2>
        <h2 routerLink="/mywebsite/BMI">BMI</h2>
        <h2 routerLink="/mywebsite/directive/">Directive</h2>
        <button>Logout</button>
  
      </div>
    </div>
    <div class="right">
        <router-outlet></router-outlet>


      
    </div>
  </div>
